IO_LOC "SDO" 17;
IO_PORT "SDO" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SCLK" 16;
IO_PORT "SCLK" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CS" 15;
IO_PORT "CS" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "enable" 88;
IO_PORT "enable" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK_IN 4;
IO_PORT "CLK_IN" PULL_MODE=UP BANK_VCCIO=1.8;