//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 07 04 08:19:02 2023

IO_LOC "SDO" 17;
IO_PORT "SDO" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SCLK" 16;
IO_PORT "SCLK" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CS" 15;
IO_PORT "CS" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "enable" 88;
IO_PORT "enable" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK_IN" 4;
IO_PORT "CLK_IN" PULL_MODE=UP BANK_VCCIO=1.8;

