//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 08 01 14:56:21 2023

IO_LOC "SDO2" 20;
IO_PORT "SDO2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SCLK2" 19;
IO_PORT "SCLK2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CS2" 18;
IO_PORT "CS2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SDO1" 49;
IO_PORT "SDO1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SCLK1" 53;
IO_PORT "SCLK1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CS1" 71;
IO_PORT "CS1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "enable2" 87;
IO_PORT "enable2" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "enable1" 27;
IO_PORT "enable1" PULL_MODE=UP HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "CLK_IN" 4;
IO_PORT "CLK_IN" PULL_MODE=UP BANK_VCCIO=1.8;
